<section class="flat-signin">
  <div class="container my-5">
    <div class="row">
      <div class="col-md-12">
        <div class="divider40"></div>
        <div class="wrap-sign-in center">
          <h3>강의 글쓰기</h3>
          <hr>
          <div class="assignment-form">
            <%= form_for(@lecture, url: lectures_path, method: :post) do |f| %>
              <ul>
                <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
                  <div class="assignment-inner">
                    <div class="assignment-title assignment-label">제목:</div>
                    <div class="assignment-input-wrap">
                      <%= f.text_field :title, required: true %>
                      <span class="input-clear-button"></span>
                    </div>
                  </div>
                </li>
                <li class="assignment-content assignment-input" style="margin-bottom: 10px;">
                  <div class="assignment-inner">
                    <div class="assignment-content assignment-label">내용:</div>
                    <%# <div class="assignment-input-wrap"> %>
                      <%= f.text_area :content, required: true, id: 'summernote' %>
                      <%# <span class="input-clear-button"></span> %>
                    <%# </div> %>
                  </div>
                </li>
              </ul>
              <div class="divider20"></div>
              <div class="btn-submit">
                <button type="submit" name="commit" class="bg-black">과제 생성</button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .modal-content {
    margin-top: 100px;
  }
  .note-dropdown-menu .dropdown-menu .dropdown-style .show{

  }
  .display-none:{
    display: none
  }
</style>
  