<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="widget-ft widget-contact">
							<h3 class="title">CONTACT US</h3>
							<ul class="flat-contact">
								<li class="contact">
									<p class="phone">1 (800) 686-6688</p>
									<p class="email">info.deercreative@gmail.com</p>
								</li>
								<li class="address">
									<p>40 Baria Sreet 133/2 <br/>NewYork City, US</p>
								</li>
								<li class="open-hours">
									<p>Open hours: 8.00-18.00 Mon-Fri</p>
								</li>
							</ul>
						</div><!-- /.widget-ft widget-contact -->
					</div><!-- /.col-md-3 -->
					<div class="col-md-3">
						<div class="widget-ft widget-twitter-feed">
							<h3 class="title">TWITTER FEED</h3>
							<p><i class="fa fa-twitter" aria-hidden="true"></i> Check out 'Yolo - Creative Multi-Pur-pose WordPress Theme' on #Envato-Market by @Leonard_Design</p>
							<p>#https://themeforest.net/user/leon-ard_design/portfolio</p>
							<span>About 9 months ago</span>
						</div>
					</div><!-- /.col-md-3 -->
				</div><!-- /.row -->
			</div><!-- /.container -->