<footer class="style2 bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widget-about">
          <div class="logo-ft">
            <a href="index.html" title="">DGU Lion</a>
          </div>
          <ul class="social-ft">
            <li>
              <a href="https://www.facebook.com/DGUlion/" title="Facebook" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/likelion_dongguk/" title="Instagram" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://pf.kakao.com/_jxbIxfd" title="Kakao_plus_friend" target="_blank">
                <i class="fa fa-comments" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/godwon2095" title="Github" target="_blank">
                <i class="fa fa-github" aria-hidden="true"></i>
              </a>
            </li>
          </ul><!-- /.social-ft -->
          <p>
            Copyright <i class="fa fa-copyright" aria-hidden="true"></i> 2019 DGU Lion.
          </p>
        </div><!-- /.widget-about -->
      </div><!-- /.col-md-4 -->
      <div class="col-md-4">
        <div class="widget-menu-ft">
          <!-- <ul class="one-half">
            <li>
              <a href="#" title="">Home</a>
            </li>
            <li>
              <a href="#" title="">About</a>
            </li>
            <li>
              <a href="#" title="">Services</a>
            </li>
            <li>
              <a href="#" title="">Work</a>
            </li>
          </ul>
          <ul class="one-half">
            <li>
              <a href="#" title="">Disclaimer</a>
            </li>
            <li>
              <a href="#" title="">Privacy</a>
            </li>
            <li>
              <a href="#" title="">Advertisement</a>
            </li>
            <li>
              <a href="#" title="">Contact us</a>
            </li>
          </ul> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="widget-information">
          <ul>
            <li><a href='mailto:dgulion.official@gmail.com'>dgulion.official@gmail.com</a></li>
          </ul>
        </div><!-- /.widget-information -->
      </div><!-- /.col-md-4 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.footer style2 -->

<div class="button-go-top">
  <a href="#" title="" class="go-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
