<section class="tp-banner">
  <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.3.0.2 auto mode -->
          <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
              <div class="slotholder"></div>
              <ul><!-- SLIDE  -->

                  <!-- SLIDE 1 -->
                  <li data-index="rs-3049" data-transition="slideremovedown" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power3.easeInOut" data-easeout="Power3.easeInOut" data-masterspeed="2000"    data-rotate="0"  data-saveperformance="off"  data-title="Ken Burns" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                      <!-- MAIN IMAGE -->
                      <div class="main-image">
                        <img src='/images/lion-revolution.png' alt=""  data-bgposition="center center" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                      </div>
                      <!-- LAYERS -->
                      <!-- LAYER NR. 12 -->
                      
                      <% if @recruit.present? %>
                        <div class="tp-caption sub-title ff-2 white"
                            id="slide-3049-layer-1"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-16','-16','6','6']"
                            data-fontsize="['48','45','40','26']"
                            data-lineheight="['60','60','50','32']"
                            data-fontweight="['700','700','700','700']"
                            data-width="100%"
                            data-height="auto"
                            data-type="text"
                            data-whitespace="normal"
                            data-responsive_offset="on"
                            data-frames='[{"delay":0,"split":"chars","splitdelay":0.05,"speed":1000,"frame":"0","from":"x:[105%];z:0;rX:45deg;rY:0deg;rZ:90deg;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['center','center','center','center']"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0"
                            data-paddingleft="[0,0,0,0]"

                            style="z-index: 16; white-space: nowrap;font-weight: 700; color: #f76707;">멋쟁이 사자처럼 8기<br>모집중
                        </div>
                        <!-- LAYER NR. 13 -->
                        <div class="center">
                          <%= link_to "지원하기", recruit_path(@recruit), target: "_blank", class:"tp-caption flat-button-slider bg-blue color-white", data: {frames: '[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1200,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]',
                                                                                                                                        x: "['center','center','center','center']", hoffset: "['0','0','0','0']",
                                                                                                                                        y: "['middle','middle','middle','middle']", voffset: "['83','85','90','90']",
                                                                                                                                        fontsize: "['12','12','12','12']",
                                                                                                                                        lineheight: "['46','46','46','44']",
                                                                                                                                        fontweight: "['600','600','600','600']",
                                                                                                                                        textAlign: "['center', 'center', 'center', 'center']",
                                                                                                                                        width: "200",
                                                                                                                                        height: "46"} %>
                          <!-- END LAYER LINK -->
                        </div>
                      <% else %>
                        <%# <div class="tp-caption sub-title"
                            id="slide-3049-layer-4"
                            data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-90','-90','-80','-50']"
                            data-fontsize="['15',15','15','13']"
                            data-fontweight="['600','600','500','400']"
                            data-width="auto"
                            data-height="auto"
                            data-lineheight="24"
                            data-letterSpacing="0"
                            data-whitespace="nowrap"
                            data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":0,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":800,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['center','center','center','center']"
                            data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]"
                            data-paddingbottom="[0,0,0,0]"
                            data-paddingleft="[0,0,0,0]"
                            style="z-index: 17; line-height: 27px; letter-spacing: 1.3px; white-space: normal;text-transform:left;"><a class="fancybox slider white" data-type="iframe" href="#">
                                멋쟁이 사자처럼 8기
                            </a>
                        </div> %>
                      <% end %>

                  </li>
              </ul>
          </div>
    </div><!-- END REVOLUTION SLIDER -->
</section><!-- /.tp-banner -->


<%# <script>
$('.main-image img').each(function(){
$(this).css({
"left": "50%",
"margin-left": "-"+( $(this).width()/2 )+"px",
"top": "50%",
"margin-top": "-"+( $(this).height()/2 )+"px"
});
});
</script> %>
<style>
.main-image img{
  position: absolute;
  top:5rem;
  left:0;
  width:100%;
}
</style>





<%# <section class="home">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12 bg-white">
					<div class="box-title style1">
						<h1>DGU Like Lion</h1>
						<div class="top-image">
              <div class="top-content">
							  <h2>동대 8기 대모집</h2>
              </div>
						</div>
					</div><!-- /.box-title -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.title-heading -->
</section>

<style>

</style> %>