<section class="home">
	<div class="title-heading">
		<div class="container">
			<div class="row">
				<div class="col-md-12 bg-black">
					<div class="box-title style1">
						<h1>DGU Like Lion</h1>
						<div class="top-image">
              <div class="top-content">
							  <h2>동대 8기 대모집</h2>
              </div>
						</div>
					</div><!-- /.box-title -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.title-heading -->
</section>

<style>
.top-image{
  background-image: url('/images/lion-revolution.png');
  }
}
</style>