<% title ||= "" %>
<% subtitle ||= "" %>
<section class="page-title parallax parallax6">
  <div class="title-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-title color-black">
            <h1><%= title %></h1>
            <h2><%= subtitle %></h2>
          </div><!-- /.box-title -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.title-heading -->
<div class="overlay-black"></div>
</section><!-- /.page-title parallax -->