<%= render 'shared/page_title', title: '내가 제출했던 과제들', subtitle: '' %>

<section id="main-shop">
  <div class="container-fluid wrap-product">
    <div class="row">
      <div class="col-md-12">
        <div class="sort-product style3 v1">
          <button class="tablink" onclick="openPage('submission-page', this)" id="defaultOpen">모두 보기</button>
          <button class="tablink" onclick="openPage('great-page', this)">우수 과제</button>
          <button class="tablink" onclick="openPage('idea-page', this)">아이디어 과제</button>

        </div><!-- /.sort-product -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /#mainshop -->

<div class="container-fluid wrap-product">  
  <div id="submission-page" class="tabcontent">
    <div class="tab-product-content style1">
      <div class="row first">
        <% @submissions.each do |submission| %>
          <%= render 'shared/submission', assignment: submission.assignment, submission: submission %>
        <% end %>
      </div><!-- /.row -->
    </div><!-- /.tab-product-content -->
  </div>

  <div id="great-page" class="tabcontent">
    <div class="tab-product-content style1">
      <div class="row first">
        <% @submissions.where(grade: :great).each do |submission| %>
          <%= render 'shared/submission', assignment: submission.assignment, submission: submission %>
        <% end %>
      </div><!-- /.row -->
    </div><!-- /.tab-product-content -->
  </div>

  <div id="idea-page" class="tabcontent">
    <div class="tab-product-content style1">
      <div class="row first">
        <% @submissions.where(grade: :idea).each do |submission| %>
          <%= render 'shared/submission', assignment: submission.assignment, submission: submission %>
        <% end %>
      </div><!-- /.row -->
    </div><!-- /.tab-product-content -->
  </div>

</div>

<style>
  body{
    text-align:center;
  }
  body:before{
    content:'';
    height:100%;
    vertical-align:middle;
  }
  button{
    border:none;
    position:relative;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#fff;
    color:#f76705
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f76705;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

</style>


<script>
  function openPage(pageName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>
