<%= render 'shared/page_title', title: '내가 제출했던 과제들', subtitle: '' %>

<section class="flat-tabs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tab-about style2 v1">
          <ul class="tab-list-about">
            <li class="active tab-item active" id="all">
              <div class="box-header background no-border">
                <div class="box-title">
                  <h6>모두 보기</h6>
                </div>
              </div>
            </li><!-- /.tab-item -->
            <li class="tab-item" id="great">
              <div class="box-header background no-border">
                <div class="box-title">
                  <h6>우수 과제</h6>
                </div>
              </div>
            </li><!-- /.tab-item -->
            <li class="tab-item" id="idea">
              <div class="box-header background no-border">
                <div class="box-title">
                  <h6>아이디어 과제</h6>
                </div>
              </div>
            </li><!-- /.tab-item -->
          </ul><!-- /.tab-list-about -->
          <div class="content-tab">
            
            <div class="content-inner overflow">
              <div class="row first">
                <% @submissions.each do |submission| %>
                  <%= render 'shared/submission', assignment: submission.assignment, submission: submission %>
                <% end %>
              </div><!-- /.row -->
              
            </div><!-- /.content-inner -->
          </div><!-- /.content-tab -->
        </div><!-- /.tab-about style1 -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-tabs -->



<script type="text/javascript">
$('#all').on('click', function(){
    $('.submission-card').show();
  });
  $('#great').on('click', function(){
    $('.normal').hide();
    $('.idea').hide();
    $('.great').show();
  });
  $('#idea').on('click', function(){
    $('.normal').hide();
    $('.idea').show();
    $('.great').hide();
  });
</script>
