<%= render 'shared/page_title', title: "#{@assignment.title}", subtitle: '' %>

<section class="flat-tabs">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="tab-about style2 v1">
          <ul class="tab-list-about">
            <li class="active tab-item active">
              <div class="box-header background no-border">
                <div class="icon">
                  <span class="ti-pencil"></span>
                </div>
                <div class="box-title">
                  <h6>모두 보기</h6>
                </div>
              </div>
            </li><!-- /.tab-item -->
            <li class="tab-item">
              <div class="box-header background no-border">
                <div class="icon">
                  <span class="ti-star"></span>
                </div>
                <div class="box-title">
                  <h6>우수 과제</h6>
                </div>
              </div>
            </li><!-- /.tab-item -->
            <li class="tab-item">
              <div class="box-header background no-border">
                <div class="icon">
                  <span class="ti-angle-double-up"></span>
                </div>
                <div class="box-title">
                  <h6>아이디어 과제</h6>
                </div>
              </div>
            </li><!-- /.tab-item -->
          </ul><!-- /.tab-list-about -->
          <div class="content-tab">
            <div class="content-inner overflow">
              <div class="row first">
                <% @submissions.each do |submission| %>
                  <%= render 'shared/submission', assignment: @assignment, submission: submission %>
                <% end %>
              </div><!-- /.row -->
            </div><!-- /.content-inner -->
            <div class="content-inner overflow">
              <div class="row first">
                <% @submissions.where(grade: :great).each do |submission| %>
                  <%= render 'shared/submission', assignment: @assignment, submission: submission %>
                <% end %>
              </div><!-- /.row -->
            </div><!-- /.content-inner -->
            <div class="content-inner overflow">
              <div class="row first">
                <% @submissions.where(grade: :idea).each do |submission| %>
                  <%= render 'shared/submission', assignment: @assignment, submission: submission %>
                <% end %>
              </div><!-- /.row -->
            </div><!-- /.content-inner -->
          </div><!-- /.content-tab -->
        </div><!-- /.tab-about style1 -->
      </div><!-- /.col-md-12 -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.flat-tabs -->
