<%= render 'shared/page_title', title: '동국대학교 멋쟁이 사자처럼', subtitle: '갤러리' %>


<div class="container my-5">

  <div class="row">
    <div class="col-12 mb-2">
      <div class="float-left">
        <h2>
          갤러리
        </h2>
      </div>
      <div class="float-right">
        <%= link_to(new_gallery_path, style:"font-size: 48px;") do %>
          <i class="far fa-plus-square"></i>
        <% end %>    
      </div>
    </div>
    
    <hr>
  </div>
  
  <ul class="image-list">
    <%= render 'galleries', datelist: @datelist %>
  </ul>
</div>

