<section class="page-title parallax parallax6">
  <div class="title-heading">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="box-title color-black">
            <h1>동국대 멋쟁이 사자처럼</h1>
            <h2>갤러리</h2>
          </div><!-- /.box-title -->
        </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.title-heading -->
<div class="overlay-black"></div>
</section><!-- /.page-title parallax -->

<div class="container my-5">

  <div class="row">
    <div class="col-12 mb-2">
      <h2>갤러리</h2>
    </div>
    <div class="float-right">
      <%= link_to "사진 추가", new_gallery_path, class:"button button-primary" %>
    </div>
    <hr>
  </div>
  
  <ul class="image-list">
    <% @datelist.keys.each do |date| %>
      <div class="image-date my-3">
        <h3><%= date %></h3>
      </div>
      <div class="row">
        <% @datelist[date].each do |image| %>
          <div class="card col-md-3 mb-4">
            <%= image_tag((image.image.url(:thumb) if image.image?), class:"card-img-top")%>
          </div>
        <% end %>
      </div>
    <% end %>
  </ul>
</div>

<img id="myImg" src="/images/dgu-logo.jpg" alt="Snow" style="width:100%; max-width:300px">

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>


<style>
  
</style>

<script>

</script>
