<div class="container">
  <div class="gallery_form">
    <%= form_for(@gallery, url: galleries_path, method: :post) do |f| %>
      
      <%= f.file_field :image, required: true %>
      
      <%= f.submit "제출하기", class:"button" %>
    <% end %>
  </div>

</div>
