<%= render "shared/page_title", title: '동국대 멋쟁이 사자처럼에', subtitle: '지원해주셔서 감사합니다.' %>
<div class="container">
  <div class="row">
		<div class="col-md-8 offset-md-4 offset-xs-2 offset-sm-2 schedule">
      <h5>면접일정 공지 : 3월 31일 (화) 13:00</h5>
      <h5>면접 : 4월 1일 (수) ~ 2일 (목) 18:20~22:00</h5>
      <h5>합격자 발표 : 4월 3일 (금)</h5>
      <h5>OT : 4월 22일 (수) 18:30</h5>
		</div>
	</div>
</div>

<style>
.schedule h5{
  line-height: 170%;
}
</style>