<%= render "shared/page_title", title: '동국대학교 멋쟁이 사자처럼', subtitle: '8기 모집' %>
<div class="container">
  <div class="main-single">
    <div class="form-submit center">
      <%= link_to("지원서 작성", new_recruit_apply_path(@recruit), class:"btn btn-lg btn-outline-primary")%>
      <%= link_to("내 지원서 찾기", myapply_recruit_applies_path(@recruit), class:"btn btn-lg btn-outline-primary") %>
    </div>
  </div><!-- /.main-single -->
</div>