@import "active_admin/mixins";
@import "active_admin/base";
@import 'activeadmin/quill_editor_input';
@import 'activeadmin_addons/all';
@import 'imageviewer';
@import "active_skin";

.admin-indexImage {width: 80px; height: 80px;}
.admin-showImage {width: 150px; height: 150px;}

$skinLogo: url("logo.png") no-repeat 0 0;
$skinActiveColor: #f76707;
// $skinHeaderBck: #413D3D;
$skinHeaderBck: #000;
$panelHeaderBck: #333;
$skinBgColor: #f5f5f5;
$tableHeaderColor:#f0f4ff;
@import "active_skin";
form fieldset.inputs {
  padding-top:0px;
}

html {background-color:$skinBgColor}
body.active_admin {padding-bottom:0;background-color:$skinBgColor}

#active_admin_content {
  padding-bottom: 100px;
}

/* header */
#header {
  background-color:$skinBgColor;
  h1.site_title {
    background-color: #fff;
    background: none;
    padding-left: 30px;
    color: #1e2a33;
    text-indent: 0px;
    font-size: 20px;
    font-weight:700;
    width:100px;
  }
  .header-item {top:0}
  ul.tabs {
    display:flex;flex-wrap:wrap;
    li {
      display:block;height:40px;font-size:14px;line-height:40px;vertical-align:top;cursor:pointer;
      &:hover,
      &.has_nested {
        a {margin:0}
        &> a,
        &:hover a {background-position:calc(100% - 7px) 50%;font-weight:normal}
        &:hover ul {
          background-color:#fff;
          border:1px solid $skinActiveColor;
          li a {
            background-color:#fff;color:#555;
            &:hover {background-color:#f1f1f1;color:#000}
          }
        }
      }
      &.current {
        a {margin:0}
      }
      &.current.has_nested {
        a {margin:0;font-weight:bold}
      }
      a {display:block;height:40px;padding:0 15px;line-height:40px}
      ul {margin-top:0}
    }
  }
  #utility_nav {
    background:none;
    li {display:inline-block}
  }
}

.admin-index-image {
  width: 70px;
  height: 70px;
}

.admin-show-image {
  width: 300px;
  height: 300px;
}

.admin-testImage img{
  width: 100%;
}

.admin-banner-image {
  width: 270px;
  height: 60px;
}

.admin-banner-show-image {
  width: 540px;
  height: 120px;
}

table.index_table {
  white-space: nowrap;
}

.active {
  background: green;
}
.disabled {
  background: grey;
}
.sold_out {
  background: yellow;
  color: black;
}

.status_tag.이벤트 {background-color: blue;}
.status_tag.공지 {background-color: red;}
.status_tag.일반회원 {background-color: yellow; color: black;}
.status_tag.관리자 {background-color: green;}

fieldset.inputs {
  padding-top: 30px !important;
}

.table_tools {
  margin-bottom: 0px !important;
}

.attributes_table table td {
  font-size: 18px;
  white-space: pre-line;
  color: black;
}